div.canvas-window{
  display: flex;
  min-height: 0;
  flex:1;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2px;
}
div.drawing-tools{
  flex: 0 0 40px;
  height: 100%;
}
div.canvas-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
div.drawing-subtools{
  flex: 0 0 40px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}