.scoresheet{
  /* width: calc(100vw - 20px); */
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  margin: 0 10px;
  background-color: white;
  border-radius: 20px 20px 0 0;
  border: 1px solid #dddddd;
  bottom: -430px;
  display: none;
}